on: push

name: Render Quarto slides

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        
      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
          
      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          path: version-control-slides/slides.qmd
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        